doctype 5
html(lang="en")
	head
		meta(charset="UTF-8")
		title Cars New 
		body
			h1 Create your dream car
			form(action="cars", method="post")
				input(type="text", name="make", placeholder="Make")
				input(type="text", name="model", placeholder="Model")
				input(type="text", name="year", placeholder="Year")
				input(type="submit",value="Create Car")